.item-name {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
}

.item-price {
    font-size: 28px;
    line-height: 32px;
}

.item-descrp {
    font-size: 18px;
    margin-top: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.main-img {
    width: 80%;
}

.images-list-box {
    display: flex;
    justify-content: space-between;
}

.images-list {
    width: 33%;
}
.btn-back a {
    color: #d67c1c;
}

.btn-back:hover a {
    color: #fff;
}