/* 
#root {
    margin: 10px;
}  */

/* .btn_style {
    margin-right: 20px;
}

body {
    overflow: hidden;
    position: relative;
}

.button {
    width: 400px;
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-400px);
} */

.composition-example, .blog {
    padding: 24px !important;
}

.author-column .ui.card{
    position: fixed !important;
    top: 24px !important;
}

.full-with-img{
    width: 100%;
}

.page {
    padding-top: 24px;
}

button {
    margin-top: 15px !important;
}